# PYTHON PROGRAMMING 기초
## PRINT AND GET USER INPUT

# PRINT 함수
- print() 함수는, 화면에 출력하는 함수다.

### [강의참고 : print 설명 ](https://vision-ai.tistory.com/entry/파이썬-화면-출력-print-함수)

In [1]:
sentence = '제 이름은 홍길동입니다. 나이는 25 입니다.'

In [2]:
sentence

'제 이름은 홍길동입니다. 나이는 25 입니다.'

In [3]:
print(sentence)

제 이름은 홍길동입니다. 나이는 25 입니다.

In [4]:
name = '홍길동'

In [5]:
age = 25

In [6]:
'제 이름은 {}입니다. 나이는 {} 입니다.'.format(name, age )

'제 이름은 홍길동입니다. 나이는 25 입니다.'

In [7]:
print('제 이름은 {}입니다. 나이는 {} 입니다.'.format(name, age ))

제 이름은 홍길동입니다. 나이는 25 입니다.

# USER INPUT - 사용자에게서 직접 입력을 받는 경우
- input 함수는, 유저한테서 직접 입력을 받는다.

### [강의참고 : input 설명 ](  https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%82%AC%EC%9A%A9%EC%9E%90%EC%97%90%EA%B2%8C-%EC%9E%85%EB%A0%A5%EB%B0%9B%EA%B8%B0-User-Input)

In [9]:
name = input('이름 입력 : ')

이름 입력 : 김나나

In [10]:
age = input('나이 입력 : ')

나이 입력 : 25

In [11]:
age

'25'

In [12]:
name

'김나나'

In [13]:
type(age)

str

In [14]:
type(name)

str

In [15]:
print('제 이름은 {}입니다. 나이는 {} 입니다.'.format(name, age ))

제 이름은 김나나입니다. 나이는 25 입니다.

In [16]:
# 두개의 숫자를 유저한테 입력받아서, 더하기 한 결과를 출력하는 코드

In [17]:
number1 = input('첫번째 숫자 입력 : ')
number2 = input('두번째 숫자 입력 : ')

print( number1 + number2 )

첫번째 숫자 입력 : 2
두번째 숫자 입력 : 3
23

In [18]:
'2' + '3'

'23'

## 형변환 
- '3' 은 숫자가 아니다. 따라서 숫자로 바꿔줘야 한다.
- 기본데이터타입은 총 3개
- 바꾸는 방법은? int(), float(), str()

In [19]:
number1

'2'

In [20]:
type(number1)

str

In [21]:
int(number1)

2

In [22]:
float(number1)

2.0

In [25]:
number1 = input('첫번째 숫자 입력 : ')
number2 = input('두번째 숫자 입력 : ')

number1 = float(number1)
number2 = float(number2)

print( number1 + number2 )

첫번째 숫자 입력 : 2
두번째 숫자 입력 : 3
5.0

In [27]:
n1= input('첫번째 :')
n2= input('두번째 :')

print(n1 + n2)

첫번째 :7
두번째 :33
733